style
{
    margin: 0;
    padding: 0;
}
.button{
    width: 50;
    height: 50;
    font-size: 25;
    margin: 20;
    cursor: pointer;
    position: relative;
}
.textview{
    width: 250;
    margin: 15;
    font-size: 25;
    padding: 5;
}
.main{
    outline: 2px solid #000; /* Чёрная рамка */
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    background: rgb(117, 226, 226);
}
p{
    text-align: center;
    font-family: Verdana; 
    font-size: 15pt;
}
form {
    display: inline-block;
}